@mixin transition($types: all,$times: .3s,$animate: linear) {
    -webkit-transition: $types $times $animate;
    transition: $types $times $animate;
}

@mixin transform($arguments) {
    -webkit-transform: $arguments;
    transform: $arguments;
}

@mixin textHidden {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin prefix($property, $value){
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

@mixin flexBox {
    display: -webkit-flex;
    display: flex;
    @include prefix(flex-wrap,wrap);
    @include prefix(flex-direction,row);
    @include prefix(justify-content,space-between);
}

@mixin flexBoxStart {
    display: -webkit-flex;
    display: flex;
    @include prefix(flex-wrap,wrap);
    @include prefix(flex-direction,row);
    @include prefix(justify-content,flex-start);
}

@mixin flexBoxEnd {
    display: -webkit-flex;
    display: flex;
    @include prefix(flex-wrap,wrap);
    @include prefix(flex-direction,row);
    @include prefix(justify-content,flex-end);
}

@mixin flexBoxCenter {
    display: -webkit-flex;
    display: flex;
    @include prefix(flex-wrap,wrap);
    @include prefix(flex-direction,row);
    @include prefix(justify-content,center);
}

@mixin flexBoxVer {
    display: -webkit-flex;
    display: flex;
    @include prefix(flex-wrap,wrap);
    @include prefix(flex-direction,column);
    @include prefix(justify-content,space-between);
}

@mixin flexBoxVerCenter {
    display: -webkit-flex;
    display: flex;
    @include prefix(flex-wrap, wrap);
    @include prefix(flex-direction, column);
    @include prefix(justify-content, center);
    @include prefix(align-content, center);
}
