// compileExpanded: ../global.wxss
/**global.wxss**/
@import "color";
@import "mixin";

.title-mode {
    position: relative;
    height: 80rpx;
    line-height: 80rpx;
    padding: 0 20rpx;
    font-size: 32rpx;
    color: #000;
    background: #fafafa;
    border-bottom: 1rpx solid #eee;
    .right-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 80rpx;
        height: 80rpx;
        cursor: pointer;
        image {
            display: block;
            width: 40rpx;
            height: 40rpx;
            margin: 20rpx;
        }
    }
}

.fixed-icon {
    position: fixed;
    left: 10rpx;
    bottom: 10rpx;
    width: 80rpx;
    height: 80rpx;
    padding: 15rpx;
    border-radius: 50%;
    background: rgba(255, 255, 255, .75);
    box-sizing: border-box;
    cursor: pointer;
    image {
        display: block;
        width: 100%;
        height: 100%;
    }
}

@import "images/loading";
.global-loading-bar {
    height: 100rpx;
    padding: 20rpx 0;
    background: #fff;
    box-sizing: border-box;
    @include flexBoxCenter;
    .icon {
        width: 30rpx;
        height: 30rpx;
        margin: 15rpx 0;
        margin-right: 10rpx;
        background: url($loading) 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .tips {
        line-height: 60rpx;
        font-size: 24rpx;
        color: #888;
    }
}

.global-loadend {
    height: 100rpx;
    padding: 20rpx 0;
    line-height: 60rpx;
    font-size: 24rpx;
    text-align: center;
    color: #888;
    background: #fff;
    box-sizing: border-box;
}

.copyright {
    margin-top: 50rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    text-align: center;
    color: #aaa;
}
