// compileExpanded: ../../pages/page/index.other.wxss
/**index.wxss**/
@import "../color";
@import "../mixin";

@import "../components/comment-post";
@import "../components/comment-item";

.article-page {
    padding: 0 30rpx;
    background: #fff;
}

.article-title {
    padding: 50rpx 0;
    font-size: 60rpx;
    color: #000;
}

.article-content {
    padding-bottom: 20rpx;
    line-height: 1.8;
    font-size: 28rpx;
    color: #555;
    .wxParse-pre {
        padding: 10rpx;
        background: #f5f5f5;
    }
}

.comment-container {
    background: #fff;
}

.login-tips {
    height: 100rpx;
    line-height: 100rpx;
    font-size: 28rpx;
    text-align: center;
    color: #333;
    border-bottom: 1rpx solid #eee;
    background: #fff;
}
